<tr>
  <td>{{id}}</td>
  <td>{{name}}</td>
  <td><a href="{{address}}" target="_blank">{{address}}</a></td>
  <td>{{timestamp}}</td>
  <td><button class="btn btn-default" onclick="addJokes('{{address}}')">Tilføj</button></td>
</tr>
