<div class="panel panel-info">
  <div class="panel-heading" role="tab" id="heading-{{registryName}}">
    <h4 class="panel-title">
      <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{registryName}}" aria-expanded="true" aria-controls="collapse-{{registryName}}">
        {{name}} – {{address}}
      </a>
    </h4>
  </div>
  <div id="collapse-{{registryName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{registryName}}">
    <div class="panel-body" id="{{registryName}}"></div>
  </div>
</div>
